.movies-list{
	width: 100%;
	margin: 0 auto;
}

.movies-list__cards{
	list-style-type: none; 
	margin: 70px auto 0;
	display: grid;
	column-gap: 28px;
	row-gap: 32px;
	grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  justify-content: space-between;
}

.movies-list__btn-more{
	width: 90%;
	height: 36px;
	background: #F9F9F9;
	border-radius: 6px;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #000000;
	border: none;
	margin: 50px auto 80px;
	transition: opacity 0.5s ease;
}

.movies-list__btn-more_hidden{
	display: none;
}

.movies-list__btn-more:hover{
	opacity: .8;
	cursor: pointer;
}