.form{
	margin: 70px auto;
	width: 100%;
	font-family: 'Inter';
	font-style: normal;
}

.form__container{
	width: 29%;
	margin: 0 auto;
}

.form__title{
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin: 40px auto;
}

.form__inputs{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form__label{
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #A0A0A0;
	margin-bottom: 5px;
	margin-top: 12px;
}

.form__label:first-of-type{
	margin-top: 0;
}

.form__input{
	border: none;
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}

.form__input_err{
	color: #FF4062;
}

.form__error-message{
	display: block;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #FF4062;
	margin-top: 6px;
	visibility: hidden;
}

.form__error-message_active{
	visibility: visible;
}

.form__access-button{
	width: 100%;
	height: 45px;
	background: #000000;
	opacity: 0.1;
	border-radius: 3px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 134px;
	margin-bottom: 16px;
	transition: opacity 0.5s ease;
}

.form__access-button_active{
	background: #000000;
}

.form__access-button_login{
	margin-top: 203px;
}

.form__access-button:hover{
	opacity: 0.8;
	cursor: pointer;
}

.form__caption{
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #A0A0A0;
	margin: 0;
}

.form__link{
	margin-left: 6px;
	text-decoration: none;
	color: #000000;
}

@media screen and (max-width: 770px){
	.form{
		margin: 232px auto;
	}
	.form__container{
		width: 51%;
	}
}

@media screen and (max-width: 425px){
	.form{
		margin: 56px auto 30px;
	}
	.form__container{
		width: 81%;
	}
	.form__title{
		margin: 50px auto 80px;
		text-align: center;
	}
	.form__access-button{
		font-size: 12px;
		line-height: 15px;
		margin-top: 222px;
		margin-bottom: 14px;
		padding: 0;
		border: none;
	}
	.form__access-button_login{
		margin-top: 291px;
	}
	.form__caption{
		font-size: 12px;
		line-height: 15px;
	}
}