.header{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header__access{
	width: 29%;
	margin: 0 auto;
	display: block;
	height: 38px;
}

.header__logo{
	margin: 18px auto 18px 70px;
	
}

.header__logo_access{
	margin: 0;
	height: 38px;
}

.header__logo_image{
	width: 38px;
	height: 38px;
}

.menu{
	display: flex;
	justify-content: space-between;
	margin-right: 70px;
	margin-top: 21px;
	height: 32px;
}

.menu__button{
	background: #FFFFFF;
	color: #000000;
	text-decoration: none;
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	padding-top: 8px;
}

.menu__button_active{
	width: 77px; 
	background: #000000;
	color: #FFFFFF;
}

.menu__button_register{
	width: 97px;
}

.menu__button_login{
	width: 76px;
}
