.footer{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer__heading{
	width: 320px;
	margin: 79px auto 20px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #A0A0A0;
}

.footer__sections{
	width: 89%;
	border-top: 1px solid #E8E8E8;
	display: grid;
	grid-template-columns: 1fr 120px 42px 61px;
	grid-column-gap: 20px;
	padding-top: 20px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.footer__section{
	text-decoration: none;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
}

.footer__section_year{
	margin: 0;
}

.footer__section_link{
	transition: opacity 0.5s ease;
}

.footer__section_link:hover{
	opacity: 0.7;
	cursor: pointer;
}

@media screen and (max-width: 770px){
	.footer__sections{
		width: 92%;
	}
}

@media screen and (max-width: 425px){
	.footer__heading{
		font-size: 12px;
		line-height: 15px;
	}
	.footer__sections{
		width: 94%;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 15px);
		justify-items: center;
		grid-row-gap: 12px;
		padding-top: 30px;
		margin-bottom: 10px;
	}
	.footer__section_year{
		grid-row: 5;
		margin-top: 6px;
	}
	
}