.about-me{
	width: 100%;
	margin: 0 auto;
}

.about-me__subtitle{
	margin: 110px auto 23px 70px;
}

.about-me__block{
	display: flex;
	margin-bottom: 100px;
	justify-content: space-between;
}

.about-me__blocks{
	margin-top: 66px;
} 

 .about-me__blocks_text{
	width: 47%;
	text-align: left;
}

.about-me__blocks_photo{
	width: 270px;
	height: 327px;
	border-radius: 10px;
	object-fit: cover;
}

.about-me__title{
	margin: 0 auto;
}

.about-me__subtitle_block{
	margin: 18px 0 26px;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
}

.about-me__description{
	line-height: 22px;
	margin-bottom: 99px;
}

.about-me__link{
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-right: 20px;
	transition: opacity .5s ease;
}

.about-me__link:last-of-type{
	margin-right: 0;
}

.about-me__link:hover{
	opacity: 0.7;
	cursor: pointer;
}

@media screen and (max-width: 770px){
	.about-me__subtitle{
		margin: 90px auto 23px 50px;
	}
	.about-me__block{
		margin-bottom: 91px;
	}
	.about-me__blocks_text{
		width: 46%;
	}
	.about-me__blocks_photo{
		width: 255px;
		height: 307px;
		
	}
	.about-me__subtitle_block{
		margin: 16px 0 20px;
		font-size: 12px;
		line-height: 18px;
	}
	.about-me__description{
		line-height: 18px;
		margin-bottom: 87px;
	}
}
@media screen and (max-width: 480px){
	.about-me__blocks_text{
		margin-right: 10px;
	}
}
@media screen and (max-width: 470px){
	.about-me__subtitle{
		margin: 70px 18px 28px;
	}
	.about-me__block{
		width: 91%;
		flex-direction: column-reverse;
		align-items: center;
		margin-bottom: 69px;
	}
	.about-me__blocks_text{
		margin-top: 40px;
		width: 100%;
		margin: 0 auto;
	}
	.about-me__blocks{
		margin-top: 60px;
	}
	.about-me__blocks_photo{
		width: 292px;
		height: 352px;
	}
	.about-me__subtitle_block{
		margin: 20px auto;
		font-size: 11px;
		line-height: 16px;
	}
	.about-me__description{
		margin-bottom: 40px;
		line-height: 16px;
	}
	.about-me__link{
		margin-right: 26px;
	}
}